*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    
}

.ul-iz{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    
}

.ul-iz img{
    height: 3em;
}

.ul-iz a{
    margin: 0.8em;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}

.ul-de{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 25em;
    list-style: none;
}

.ul-de a{
    margin: 2em;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.nav a:hover{
    border-bottom: 2px solid greenyellow;
    color: green;
}

.section1{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.section1 img{
    width: 50%;
    height: 40em
}

.article-ventas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
}

.article-ventas a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-bottom: 2px solid white;
    margin: 3em;
}


.article-ventas a:hover{
    border-bottom: 2px solid greenyellow;
    color: green;
}

.ve-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30em;
    width: 25em;
    margin-left: 2em;
    background-color: rgba(240, 248, 255, 0.363);
}

.ve-cards img{
    width: 25em;
}

.ve-cards h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    text-transform: capitalize;
}

.ve-cards p{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
}

.ve-cards a{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 255, 0.808);
    color: aliceblue;
    background-color: rgba(0, 0, 209, 0.733);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 1.3em;
    padding: 0.5em;
    
    
}

.buttom-v{
    margin-top: 3em;
}

.article-ve-cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ve-cards a:hover{
    background-color: rgba(0, 0, 255, 0.76);
}

